<!DOCTYPE html>
<html>
<head>
	<title>Cím</title>
</head>
<body>

<form method="POST"> {% csrf_token %}
<div>tanuló: <input type="text" name="felhasznalo"></div>
<div>jelszó: <input type="password" name="jelszo"></div>

<table>
{% for par in tablazat %}
	<tr>
		<td>
			{% if par.0 == 'nincs' %}
				<button name="valasztotttetel" value="{{ par.2 }}">Elvállalom</button>
				<!-- <input type="button" name="{{ par.1 }}" value="Elvállalom">  Ez azért nem tetszik, mert a par.1 kellene legyen a value! -->
			{% else %}
				{{ par.0 }}
			{% endif %}
		</td>
		<td>{{ par.1 }}</td>
	</tr>
{% endfor %}
</table>
</form>
</body>
</html>